
      <div class="mt-4 alert alert-info alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>
      
        <strong>Holy guacamole!</strong> You should check in on some of those fields below-KK.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>  