
<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2  min-vh-100">
    <a href= <%= root_path %> class="d-flex align-items-center mb-md-0 me-md-auto text-decoration-none">
    <div class="main_menu_icon_zone">
      <img src="<%= asset_path('eucles_logo.png')%>" width="50" height="50">
    </div>
    </a>
    <hr>

    <div class="dropdown">
        <a href="#" class="d-flex align-items-center  text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://lh3.googleusercontent.com/a/ACg8ocLh0gBI5SdU9vDk508ThfuTZLrxr8kgMfsxJkoEiu4sceQM3AJF=s288-c-no" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>CWY</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small bg-dark shadow" aria-labelledby="dropdownUser1">
            <li>
              <%= link_to "Sign out", logout_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </li>
        </ul>
    </div>
    <hr>

    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

        <li>
        <a href= <%= users_path %> class="nav-link px-0 align-middle">
          <div class="main_menu_item_zone">
            <% if operation_tag == "users" %>
              <div class="text-secondary">
                <i class="fs-4 bi-people-fill"></i>&nbsp;Users
              </div>
            <% elsif %>
              <div>
                <i class="fs-4 bi-people"></i>&nbsp;Users
              </div>
            <% end %>
          </div>
        </a>
        </li>

        <li>
        <a href="#" class="nav-link px-0 align-middle">
          <div class="main_menu_item_zone">
            <div>
            <i class="fs-4 bi bi-credit-card-2-back"></i>&nbsp;FX rates
            </div>
          </div>
        </a>
        </li>
<!--
        <li>
        <a href="#" class="nav-link px-0 align-middle">
          <div class="main_menu_item_zone">
            <div>
            <i class="fs-4 bi-bar-chart-line"></i>&nbsp;Stock
            </div>
          </div>
        </a>
        </li>
-->
<!--
        <li>
        <a href="#" class="nav-link px-0 align-middle">
          <div class="main_menu_item_zone">
            <div>
            <i class="fs-4 bi bi-credit-card-2-back"></i>&nbsp;FX rates
            </div>
          </div>
        </a>
        </li>


        <li>
        <a href="#" class="nav-link px-0 align-middle">
          <div class="main_menu_item_zone">
            <div class="text-secondary">
            <i class="fs-4 bi bi-credit-card-2-back-fill"></i>&nbsp;FX rates
            </div>
          </div>
        </a>
        </li>


        <li>
        <a href="#" class="nav-link px-0 align-middle">
          <div class="main_menu_item_zone">
            <div>
            <i class="fs-4 bi-bar-chart-line"></i>&nbsp;Stock
            </div>
          </div>
        </a>
        </li>

        <li>
        <a href="#" class="nav-link px-0 align-middle">
          <div class="main_menu_item_zone">
            <div class="text-secondary">
            <i class="fs-4 bi-bar-chart-line-fill"></i>&nbsp;Stock
            </div>
          </div>
        </a>
        </li>
-->

    </ul>

</div>

